<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguel.egresadosapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_sena"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Olvidar"
            android:label="@string/title_activity_olvidar"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Egres_Sies"
            android:label="@string/title_activity_egres__sies" >
        </activity>
        <activity
            android:name=".Confiuracion"
            android:label="@string/title_activity_confiuracion"
            android:parentActivityName=".Egres_Sies">
        </activity>
        <activity
            android:name=".Perfil"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
